{% extends 'base.jinja2' %}

{% block header %}
  <header>
    <h1 class="paste-header">{{ title }}</h1>
  </header>
{% endblock %}

{% block main %}
  <main class="paste-form">
    <form method="POST" action="pastebin/create/" >
      <input hidden="true" name="csrfmiddlewaretoken" value={{csrf_token}}>
      <br />
      Title:
      {{form.title}} <br />
      Language:
      {{form.language}} <br />
      Code Snippet:<br />
      {{form.code}} <br />
      <input type="submit">
    </form>
  </main>
{% endblock %}